@media (max-width: 2560px) and (min-width: 1440px){
    .div1{
        width:100%;
        height:900px;
        background-size:cover;
        
    }
    .nav-container{
        width:100%;
        height:80px !important;
        top:40px;
        align-items: center;
        position:absolute;
    }
    .container{
        width:1200px;
        height:80px !important;
    }
}
@media (max-width: 1024px) and (min-width: 846px){
    .div1{
        width:100%;
        height:700px;
        background-size:cover;
        position:relative;
    }
    .nav-container{
        width:100%;
        height:80px;
        align-items: center;
    }
    
    .container{
        width:900px;
        height:80px;
    }
}

.header .navbar{
    padding:0px !important;
}

.container{
    padding-left: 15px;
    padding-top: 15px;
    background-color: #fff;
    display:flex;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    box-sizing:border-box;
    align-items: center;
}

ul{
    display:flex;
    list-style-type: none;
    gap:10px;
    font-family: var(--nav-style);
    font-size: 12px;
    text-transform:uppercase;
    color:black;
}